.img-rectangle {
  width: 224px;
  height: 275px;
}

.img-circle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.icon {
  width: 40px;
  height: 40px;
}

.icon-remove {
  width: 20px;
  height: 20px;
}

/* Tablet & Mobile  */
@media screen and (max-width: 1024px) {
  .icon {
    width: 20px;
    height: 20px;
  }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .img-rectangle {
    width: 214px;
    height: 255px;
  }
  .img-circle {
    width: 75px;
    height: 75px;
  }
}

/* Mobile */
@media screen and (max-width: 768px) {
  .img-rectangle {
    width: 145px;
    height: 185px;
  }

  .img-circle {
    width: 60px;
    height: 60px;
  }
}
