.component-layout {
  display: flex;
  gap: 55px;
  padding: 43px 103px 30px 57px;
}

.dash {
  background-color: var(--primary-color);
  width: 306px;
  height: 5px;
  margin: 0;
  border: 0;
}

.dash-menu {
  width: 306px;
}

.dash-cart {
  width: 134px;
}

.dash-checkout {
  width: 290px;
}

.copyright {
  margin-top: 208px;
}

/* Tablet & Mobile  */
@media screen and (max-width: 1024px) {
  .dash-menu {
    width: 243px;
  }

  .copyright {
    margin-top: 104px;
  }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .component-layout {
    gap: 35px;
    padding: 68px;
  }

  .detail-layout {
    margin-left: 0px;
  }

  .dash-checkout {
    width: 218px;
  }
}

/* Mobile */
@media screen and (max-width: 767px) {
  .component-layout {
    display: flex;
    flex-direction: column;
    gap: 41px;
    padding: 40px;
  }

  .detail-layout {
    margin-left: 0px;
    grid-area: layout;
  }

  .dash-checkout {
    width: 218px;
  }

  .dash-cart {
    width: 107px;
  }
}
