.nav-menu {
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  background: var(--secondary-color);
  gap: 21px;
  height: 852px;
}

.nav-item {
  padding: 41px 47px;
}

.active-link {
  background-color: var(--primary-color);
  pointer-events: none;
  cursor: default;
}

.cart-number {
  color: var(--text-primary-color);
  position: absolute;
  margin-top: -10px;
  margin-left: 40px;
}

.nav-item.active-link .cart-number {
  color: var(--secondary-color);
}

.nav-item:first-child .icon {
  filter: invert(85%) sepia(20%) saturate(551%) hue-rotate(329deg) brightness(105%) contrast(89%);
}

.nav-item.active-link .icon {
  filter: invert(0%) sepia(0%) saturate(7465%) hue-rotate(338deg) brightness(106%) contrast(109%);
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .nav-menu {
    width: 80px;
    gap: 0px;
    height: 492px;
  }
  .nav-item {
    padding: 30px;
  }

  .cart-number {
    margin-left: 20px;
  }
}

/* Mobile */
@media screen and (max-width: 768px) {
  .nav-menu {
    gap: 0px;
    margin: auto;
    height: auto;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: hidden;
  }

  .nav-item {
    padding: 30px;
  }

  .cart-number {
    margin-left: 20px;
  }
}

@media screen and (min-width: 380px) and (max-width: 550px) {
  .nav-menu {
    margin: auto;
    height: auto;
    width: 309px;
    justify-content: space-between;
  }
}
