.nav-menu {
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  background: var(--secondary-color);
  gap: 21px;
  height: 852px;
}

.nav-item {
  padding: 41px 47px;
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .nav-menu {
    width: 80px;
    gap: 0px;
    height: 492px;
  }
  .nav-item {
    padding: 30px;
  }
}

/* Mobile */
@media screen and (max-width: 768px) {
  .nav-menu {
    gap: 0px;
    margin: auto;
    height: auto;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .nav-item {
    padding: 30px;
  }
}
