.cart-layout {
  display: flex;
  gap: 41px;
  padding: 43px 103px 30px 57px;
}

.cart {
  margin-left: 14px;
}

.list-cart {
  display: flex;
  flex-direction: column;
  gap: 56px;
  padding: 37px 23px 43px 20px;
  margin-bottom: 208px;
}

.cart-item {
  display: flex;
  gap: 36px;
}

.detail-dish {
  display: flex;
  flex-direction: column;
  min-width: 201px;
  gap: 17px;
}

.quantity-input {
  display: flex;
  gap: 12px;
  margin-left: 7px;
}

.quantity-input > button {
  width: 12px;
}

.quantity {
  padding: 5px 17px;
  background-color: var(--text-primary-color);
  margin: auto;
}

.card-groud {
  margin-top: 92px;
}

.btn-remove {
  margin-left: 45px;
}

.btn-confirm {
  padding: 20px 84px;
  border: 0;
  min-width: 365px;
}

.detail-total {
  margin-top: 12px;
  display: flex;
  gap: 29px;
}

.detail-total > span {
  color: var(--secondary-color);
}

.btn-apply {
  padding: 20px 42px;
  border: 0;
  max-width: 166px;
  margin-top: 2px;
}
