.cart-item {
  display: flex;
  gap: 36px;
}

.detail-dish {
  display: flex;
  flex-direction: column;
  min-width: 201px;
  gap: 17px;
}

.quantity-input {
  display: flex;
  gap: 12px;
}

.quantity-input > button {
  width: 12px;
}

.quantity {
  padding: 5px 17px;
  background-color: var(--text-primary-color);
  margin: auto;
}

.card-group {
  grid-area: card-group;
}

.btn-remove {
  margin-left: 38px;
}

.btn-confirm {
  padding: 20px 84px;
  border: 0;
}

.detail-total {
  margin-top: 12px;
  display: flex;
  gap: 29px;
}

.detail-total > span {
  color: var(--secondary-color);
}

.btn-apply {
  padding: 20px 42px;
  border: 0;
  max-width: 166px;
  margin-top: 2px;
}

.grid-container {
  display: grid;
  grid-template-areas: 'list-cart card-group';
  gap: 41px;
  margin-top: 24px;
}

.order-group {
  display: flex;
  flex-wrap: wrap;
  gap: 43px;
}

.carts {
  display: none;
}

/* Tablet & Mobile */
@media screen and (max-width: 1024px) {
  .detail-dish {
    min-width: 150px;
    gap: 5px;
  }
  .order-group {
    gap: 17px;
  }

  .cart-item {
    gap: 26px;
  }

  .btn-confirm {
    padding: 15px 67px;
  }

  .btn-remove {
    margin-left: 0px;
  }

  .detail-total {
    margin-top: 0px;
  }

  .btn-apply {
    padding: 15px 42px;
    margin-top: 0px;
  }
}

/* Mobile */
@media screen and (max-width: 768px) {
  .grid-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 24px;
  }

  .cart-item {
    gap: 25px;
  }

  .order-group {
    gap: 25px;
  }

  .card-group {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .detail-total {
    margin-top: 0px;
    gap: 20px;
  }

  .btn-confirm {
    padding: 20px 40px;
    border: 0;
  }
}
