.menu-layout {
  display: flex;
  gap: 55px;
  padding: 43px 103px 30px 57px;
}

.menu {
  display: flex;
  flex-direction: column;
}

.list-menu {
  display: flex;
  flex-wrap: wrap;
  row-gap: 36px;
  column-gap: 65px;
  margin-top: 43px;
}

.menu-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 8px;
}

.dash {
  background-color: var(--primary-color);
  width: 306px;
  height: 5px;
  margin: 0;
  border: 0;
}

.btn-item {
  padding: 14.5px 38px;
  border: 0;
  margin: 35px auto 0 auto;
}

.copyright-text {
  margin-top: 56px;
}
