.menu-layout {
  display: flex;
  gap: 55px;
  padding: 43px 103px 30px 57px;
}

.menu {
  display: flex;
  flex-direction: column;
}

.menu-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 8px;
}

.btn-item {
  padding: 14.5px 38px;
  border: 0;
  margin: 35px auto 0 auto;
}

.copyright-text {
  margin-top: 56px;
}
