.menu {
  display: flex;
  flex-direction: column;
}

.menu-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 8px;
}

.btn-item {
  padding: 14.5px 38px;
  border: 0;
  margin: 35px auto 0 auto;
}

.copyright-text {
  margin-top: 56px;
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .menu-layout {
    gap: 35px;
    padding: 68px;
  }
}

/* Mobile */
@media screen and (max-width: 768px) {
  .menu-layout {
    flex-direction: column;
    gap: 35px;
    padding: 35px;
  }
}
